$primary: #845ec2;
$secondary: #ff9671;
$danger: #ff9671;
$success: #00c9a7;
$warning: #ffc75f;
$dark: #120056;
$gray: #d8d8d8;
$white: #fff;


// Custom colors map
$custom-colors: (
    "gray": $gray,
);